/* Comments here */
body{
  background-color:#f2f2f2;
}

.indented{
  margin-left:15px;
  border:1px dashed gray;
  padding: 8px;
}

p{
  margin-top:0px;
}

.topTag{
  float:right;
  font-size:initial;
  font-weight:normal;
}

#footer{
  background-color:#bdbdbd;
  padding:20px 2px;
}

.nav{
  border-top:1px solid black;
  border-bottom:1px solid black;
  padding: 3px 3px;
}

.image{
  width: 50%;
  max-width: 500px;
  min-width: 50px;
  border: 1px solid black;
  float: left;
  margin: 0px 8px 4px 0px;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:focus{
	color:white;
}